@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

nav li {
  /* Your styles here */
  margin: 0 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav li:hover {
  background-color: #ddd;
}
button {
  /* Your styles here */
  margin: 0 1rem;
  border: 1px solid gray;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}
button:hover {
  background-color: #ffffff;
  text-decoration: underline #000;
  color: #000;
  transition: 0.1s;
}
